@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.highlight {
  background-color: #edae10;
}
:root {
  --primary-color: #edae10;
  --panel-color: #fff;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #ddd;
  --box1-color: #088F8F;
  --box2-color: #edae10;
  --box3-color: #50C878;
  --box4-color: #40826D;
  --title-icon-color: #fff;
  --search-icon-color:#edae10;
  --box-border-color:#edae10;
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}
body.dark {
  --primary-color: #3a3b3c;
  --panel-color: #242526;
  --text-color: #ccc;
  --black-light-color: #ccc;
  --border-color: #edae10;
  --toggle-color: #edae10;
  --box1-color: #3a3b3c;
  --box2-color: #3a3b3c;
  --box3-color: #3a3b3c;
  --box4-color: #3a3b3c;
  --title-icon-color: #edae10;
  --logo_name_color: #edae10;
  --box-border-color:#edae10;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #edae10;
}

body.dark::-webkit-scrollbar-thumb:hover,
body.dark .activity-data::-webkit-scrollbar-thumb:hover {
  background: #3a3b3c;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background-color: var(--panel-color);
  border-right: 1px solid var(--border-color);
  transition: var(--tran-05);
}
nav.close {
  width: 73px;
}
nav .logo-name {
  display: flex;
  align-items: center;
}
nav .logo-image {
  display: flex;
  justify-content: center;
  min-width: 45px;
}
nav .logo-image img {
  width: 40px;
  object-fit: cover;
  border-radius: 50%;
}

nav .logo-name .logo_name {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
  margin-left: 14px;
  transition: var(--tran-05);
  color: var(--logo_name_color);
}
nav.close .logo_name {
  opacity: 0;
  pointer-events: none;
}
nav .menu-items {
  margin-top: 40px;
  height: calc(100% - 90px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.menu-items li {
  list-style: none;
}
.menu-items li a {
  display: flex;
  align-items: center;
  height: 50px;
  text-decoration: none;
  position: relative;
}
.nav-links li a:hover:before {
  content: "";
  position: absolute;
  left: -7px;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
body.dark li a:hover:before {
  background-color: var(--text-color);
}
.menu-items li a i {
  font-size: 24px;
  min-width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black-light-color);
}
.menu-items li a .link-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--black-light-color);
  transition: var(--tran-05);
}
nav.close li a .link-name {
  opacity: 0;
  pointer-events: none;
}
.nav-links li a:hover i,
.nav-links li a:hover .link-name {
  color: var(--primary-color);
}
body.dark .nav-links li a:hover i,
body.dark .nav-links li a:hover .link-name {
  color: var(--text-color);
  color: var(--logo_name_color);
}
.menu-items .logout-mode {
  padding-top: 10px;
  border-top: 1px solid var(--border-color);
}
.menu-items .mode {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.logout-mode a:hover .link-name,
.logout-mode a:hover .uil {
  color: red;
}

.logout-mode li:first-child:hover a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: red;
}

.logout-mode .mode:hover a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #edae10;
}

.logout-mode .mode:hover .link-name,
.logout-mode .mode:hover .uil {
  color: #edae10;
}
.menu-items .mode-toggle {
  position: absolute;
  right: 14px;
  height: 50px;
  min-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode-toggle .switch {
  position: relative;
  display: inline-block;
  height: 22px;
  width: 40px;
  border-radius: 25px;
  background-color: var(--toggle-color);
}
.switch:before {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  width: 15px;
  background-color: var(--panel-color);
  border-radius: 50%;
  transition: var(--tran-03);
}
body.dark .switch:before {
  left: 20px;
}

.dashboard {
  position: relative;
  left: 250px;
  background-color: var(--panel-color);
  min-height: 100vh;
  width: calc(100% - 250px);
  padding: 10px 14px;
  transition: var(--tran-05);
}
nav.close ~ .dashboard {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top {
  position: fixed;
  top: 0;
  left: 250px;
  display: flex;
  width: calc(100% - 250px);
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
  background-color: var(--panel-color);
  transition: var(--tran-05);
  z-index: 10;
}
nav.close ~ .dashboard .top {
  left: 73px;
  width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle {
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.dashboard .top .search-box {
  position: relative;
  height: 45px;
  max-width: 600px;
  width: 100%;
  margin: 0 30px;
  
}
.top .search-box input {
  position: absolute;
  border: 1px solid #edae10;
  background-color: var(--panel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.top .search-box i {
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: #edae10;
  
}
.top img {
  width: 40px;
  border-radius: 50%;
}
.dashboard .dash-content {
  padding-top: 50px;
}
.dash-content .title {
  display: flex;
  align-items: center;
  margin: 60px 0 30px 0;
}
.dash-content .title i {
  position: relative;
  height: 35px;
  width: 35px;
  background-color: var(--primary-color);
  border-radius: 6px;
  color: var(--title-icon-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}
.dash-content .title .text {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
  margin-left: 10px;
  color: var(--logo_name_color);
}
.dash-content .boxes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.dash-content .boxes .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 12px;
  width: calc(100% / 4 - 15px);
  padding: 15px 20px;
  background-color: var(--box1-color);
  transition: var(--tran-05);
}
.boxes .box i {
  font-size: 35px;
  color: var(--logo_name_color);
}
.boxes .box .text {
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box .number {
  font-size: 24px;
  font-weight: 500;
  color: var(--text-color);
}
.boxes .box.box2 {
  background-color: var(--box2-color);
}
.boxes .box.box3 {
  background-color: var(--box3-color);
}
.boxes .box.box4 {
  background-color: var(--box4-color);
}
.dash-content .activity .activity-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.activity .activity-data {
  display: flex;
}
.activity-data .data {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}
.activity-data .data-title {
  font-size: 20px;
  font-weight: 500;
  color: var(--text-color);
}
.activity-data .data .data-list {
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
  white-space: nowrap;
  color: var(--text-color);
}


#profile-container {
  display: flex;
  align-items: center;
}

.profile-image-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 5px;
}

#profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#nameemail {
  margin-right: 10px; /* Adjusted margin for space */
}
#welcome-message {
  font-weight: bold;
  
}

#welcome-message {
  font-size: 16px; /* Adjust font size as needed */
  color: var(--text-color);
}
#welcome-message1 {
  font-size: 12px; /* Adjust font size as needed */
  color: var(--text-color);
}
@media (max-width: 1000px) {
  nav {
    width: 73px;
  }
  nav.close {
    width: 250px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 1;
    pointer-events: auto;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 1;
    pointer-events: auto;
  }
  nav ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard {
    left: 250px;
    width: calc(100% - 250px);
  }
  nav ~ .dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav.close ~ .dashboard .top {
    left: 250px;
    width: calc(100% - 250px);
  }
  .activity .activity-data {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 600px) {
  .profile-image-container {
    width: 30px;
    height: 30px;
  }

  #welcome-message {
    font-size: 08px;
  }

  #welcome-message1 {
    font-size: 06px;
  }
}
@media (max-width: 780px) {
  .dash-content .boxes .box {
    width: calc(100% / 2 - 15px);
    margin-top: 15px;
  }
}
@media (max-width: 560px) {
  .dash-content .boxes .box {
    width: 100%;
  }
}
@media (max-width: 400px) {
  nav {
    width: 0px;
  }
  nav.close {
    width: 73px;
  }
  nav .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close .logo_name {
    opacity: 0;
    pointer-events: none;
  }
  nav li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav.close li a .link-name {
    opacity: 0;
    pointer-events: none;
  }
  nav ~ .dashboard {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard {
    left: 73px;
    width: calc(100% - 73px);
  }
  nav ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
  nav.close ~ .dashboard .top {
    left: 0;
    width: 100%;
  }
}

.button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  
}
.button-approved {
  background-color: green;
  color: white;
}

.button-review {
  background-color: red;
  color: white;
}

.zoomable {
  transition: transform 0.3s ease;
}

.zoomable.zoomed {
  transform: scale(9); /* You can adjust the scale factor according to your preference */
}

/* Style for the container */
.image-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px; /* Change as per your requirement */
  height: 200px; /* Change as per your requirement */
  overflow: hidden;
  border: 2px solid #ccc; /* Change border properties as needed */
  border-radius: 10px; /* Change border radius as needed */
  background-color: #f5f5f5; /* Change background color as needed */
}

/* Style for the image inside the container */
.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container */
  transition: transform 0.3s ease;
}

/* Style for the zoomed-in image */
.image-container.zoomed img {
  transform: scale(2); /* Change the scale factor as needed */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure modal appears on top of everything */
}

.modal img {
  max-width: 90%;
  max-height: 90%;
  border: 2px solid white; /* Add a border for better visibility */
  border-radius: 5px;
}



.table-container {
  width: 90%;
  max-height: 500px; /* Adjust the height as needed */
  overflow: auto;
  margin: 0 auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  
}

.table th {
  font-size: 23px;
  font-weight: 900;
  color: var(--logo_name_color);
  padding: 15px;
  text-align: center;
  white-space: nowrap;
  margin-bottom: 20px;
  vertical-align: middle;
}
.table img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  
}
.table th, .table td {
  padding: 5px; /* Adjust padding as needed */
  border: 0.1px solid #ddd;
  text-align: center; /* Center the content horizontally */
  vertical-align: middle; /* Center the content vertically */
}
.table td {
  font-size: 22px;
  font-weight: 400;
  color: var(--text-color);
  padding: 15px;
  white-space: nowrap;
  text-align: justify;
 
  vertical-align: middle;
}


.table td:nth-child(2),
.table td:nth-child(4), /* 4th column for role */
.table td:nth-child(5),
.table td:nth-child(6) { /* 5th column for profile image */
  text-align: center; /* Center the content horizontally */
  vertical-align: middle; /* Center the content vertically */
}
.table tbody tr:nth-child(even) {
  background-color: transparent;
}

.table tbody tr {
  margin-bottom: 20px;
}

/* Container for ride requests */
#rideRequests {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next row */
  justify-content: space-between; /* Align flex items evenly with space between */
}

/* Styles for the ride request container */
.ride-request {
  flex: 1; /* Allow each item to grow to fill the available space */
  margin: 10px;
  padding: 15px;
  border: 2px solid var(--box-border-color);
  border-radius: 10px;
  background-color: var(--panel-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.0);
}

/* Styles for the heading */
.ride-request h3 {
  margin: 0;
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 10px;
}

/* Styles for the details */
.ride-request p {
  margin: 5px 0;
  color: var(--text-color);
  font-size: 16px;
}




/* Apply flexbox layout to the ride-request container */
.ride-request {
  display:block;
  flex-direction: column; /* Arrange children in a column */
}



.status-container {
  display: flex;
  align-items: middle; /* Align items vertically */
}

.status-icon {
  margin-right: 6px; /* Adjust the margin as needed */
  vertical-align: middle; /* Align the icon vertically */
}

.status-text {
  vertical-align: middle; /* Align the text vertically */
}
.status-text {
  line-height: 1.3; /* Adjust line height to center the text */
}




#dataContainer {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #edae10;
  border-radius: 5px;
  display: inline-block;
  
}
.dataItem {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #edae10;
  border-radius: 5px;
  color: var(--text-color);
}
.dataField {
  margin: 5px 0;
}
.updateButton {
  margin-top: 20px;
  padding: 10px;
  font-size: 24px;
  height: 50px;
  width: 300px; /* Increase font size */
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.updateButton:hover {
  background-color: #45a049;
}
.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* Ensure relative positioning */
}
#chart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}
canvas {
  max-width: 400px;
  max-height: 400px;
}
